section.skills-section{
    text-align: center;
    width: 100%;
}
.skills-section h2 {
    font-size: var(--subfont-size);
}
.Section-Data{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
}
section.skills-section .skill-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
    gap: 6rem;
    align-items: center;
    text-align: center;
    font-size: var(--text-size);
}
.skill-container .Icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: var(--border); */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 1px rgb(5, 45, 206);
    transition: 600ms ease-in-out;
}
.Icon:hover{
    scale: 1.2;
    
}


@media screen and (max-width :780px){

    .Section-Data{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    section.skills-section  .skill-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .skill-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    } */

}