@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
  max-width: 100%;
}
:root{
  --mainfont-size :53px;
  --subfont-size:40px;
  --text-size:18px;
  
  --border:1px solid rgba(0, 0, 255, 0.509);
  --border-hovered:1px solid rgba(242, 242, 242, 0.822);
}
button{
  background-color: #fff;
}
button:hover{
  background-color: rgba(0, 0, 255, 0.509);
}
a{
  color: rgb(0, 0, 0);
  font-size: var(--text-size);
  
  text-decoration: none;
}
@media screen and (max-width :780px) {
  body{
    margin: 0;
  }
  
}