@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,400&display=swap');
body {
  margin-top: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  max-width: 100%;
  min-height: 100%;
}
 *{
  scroll-behavior: smooth;
 }
:root{
  --mainfont-size :53px;
  --subfont-size:40px;
  --text-size:18px;
  
  --border:1px solid rgba(0, 0, 255, 0.509);
  --border-hovered:1px solid rgba(242, 242, 242, 0.822);
}
button{
  background-color: #fff;
}
button:hover{
  background-color: rgba(0, 0, 255, 0.509);
}
a{
  color: rgb(0, 0, 0);
  font-size: var(--text-size);
  
  text-decoration: none;
}
.Socials{
  position: fixed;
  top: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.358);
  border-radius: 0px 15px 15px 0px;

}
.Socials a{
  padding: 15px;
  transition: 400ms ease-in-out;
}
.LinkedIn{
  color: #fff;
  border-radius: 0px 15px 0px 0px;
  background-color: rgb(11, 79, 146);
}
.Github{
  color: #fff;
  background-color: rgb(131, 6, 6);
}
.Twitter{
  color: #fff;
  background-color: rgb(8, 106, 204);
}
.Facebook{
  color: #fff;
  border-radius: 0px 0px 15px 0px;
  background-color: rgb(11, 79, 146);
}
.Socials a:hover{
  transform: scale(1.1);
}
@media screen and (max-width :780px) {
  body{
    margin: 0;
  }
  
}